* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  height: 100vh;
}

.wrapper {
  position: relative;
}

.button {
  padding: 20px 30px;
  color: white;
  background: #c23c3c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popover {
  opacity: 0;
  position: absolute;
  top: -105px;
  right: 50%;
  transform: translate(50%);

  width: 270px;
  height: auto;

  border: 1px solid black;
}
.popover::before, .popover::after {
  content: '';
  position: absolute;
  right: 50%;
  transform: translate(50%);
  bottom: -20px;
  border: 9px solid transparent;
  border-top: 10px solid black;
}
.popover::after {
  border-top: 10px solid white;
  bottom: -19px;
}

.popover.active {
  opacity: 1;
  transition: opacity .2s linear;
}

.popover__title {
  font-weight: 500;
  padding: 10px;
  background: #eeeeee;
}

.popover__body {
  padding: 5px 10px;
}